<!DOCTYPE html>
<html>
<head>
<title>Call</title>
<style>
body {padding-top: 80px;}
</style>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<!--PS Script starts-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-73564612-1', 'auto');
	  ga('send', 'pageview');
  </script>
	<!--PS Script ends-->
</head>
<body>

<div class="container">
<div class="jumbotron text-center">


consultancy  Fees for <span class="text-primary"><b>Dr. <%= doctor[0].doctor.local.username %></b></span> is <span class="text-danger"><b>Rs <%= doctor[0].doctor.Details.Fee %></b></span>. Do you want to start?
<a href="/caldoctor" class="btn btn-primary">Yes</a>
<a href="/delhidoctors" class="btn btn-danger">No</a>


</div>
</div>




</body>
</html>